/* --Components-- */

/* Normal Title */
.normal-title{
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F5F5;
}

/* Form */

.form{
  width: 450px;
  height: 68px;
  border: 1px solid #404449;
  border-radius: 7px;
  background: #1F2329;
  border-radius: 7px;
  color:white;
  padding-left: 28px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

/* Button */

.button{
  width: 479px;
  height: 68px;
  background: #5693F8;
  border-radius: 7px;
  border-style: none;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

/* Label */

.label{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #74777C;
}

/* Samll Text */

.samll-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #74777C;
}

/* Mode title */

.modes-title{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

/* --Pages-- */

/* Home */
.image-logo{
  width: 333.66px;
  height: 313px;
  left: 553px;
  top: 356px;
}

/* Login */

.login-contents{
  width: 479px;
  height: auto;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.login-forgot-password{
  width: 479px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
}


/* Forgot Password */

.forgot-password-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Reusable classes  */

.home{
  display: flex;
  flex-direction: column;
  background-color: #0F1319;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mt-13{
  margin-top: 13px;
}

.mt-33{
  margin-top: 33px;
}

.mt-53{
  margin-top: 53px;
}

.mt-80{
  margin-top: 80px;
}

.popup{
    position:absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-password{
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 600px;
    background: #0F1319;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-password>:last-child{
  margin-bottom: 20px;
}

.popup-deny{
  position:fixed;
  width: 500px;
  height: 400px;
}

.popup-title{
  height: 57px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.popup-cancel{
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  width: 57px;
  height: 57px;
  background: #0F1319;
  border: 1px solid #404449;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.popup-cancel>p{
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.attention-content{
  padding: 1px 0px 1px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 39px;
}

.text-decoration-underline{
  text-decoration: underline;
}

.cursor-pointer{
  cursor: pointer;
}

.visiblity-visible{
  visibility:visible;
}
.visiblity-hidden{
  visibility: hidden;
}